    	<style>

	</style>

      <ion-view title="Scrollable Tabbed Slide box">
        <ion-content scroll="false">
          	<tab-slide-box>
			    	<div class="tsb-icons">
			    		<div class="tsb-ic-wrp">
							<ion-scroll direction="x" class="tsb-hscroll">
							<a href="javascript:;" class="ion-home1">Home</a>
							<a href="javascript:;" class="ion-ios-game-controller-b1">Games</a>
							<a href="javascript:;" class="ion-email1">Email</a>
							<a href="javascript:;" class="ion-model-s1">Car</a>
							<a href="javascript:;" class="ion-person1">Profile</a>
							<a href="javascript:;" class="ion-heart1">Favourites</a>
							<a href="javascript:;" class="ion-chatbubbles1">Chats</a>
							<a href="javascript:;" class="ion-gear-b1">Settings</a>
							<a href="javascript:;" class="ion-camera1">Photos</a>
							<a href="javascript:;" class="ion-ios-paw1">Pets</a>
							</ion-scroll>
						</div>
			    	</div>
			        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			            <ion-slide>
			                <h3>Home content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Games content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Mail content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Car content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Profile content</h3>
			            </ion-slide>
			            <ion-slide>
			                <h3>Favourites content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Chats content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Settings content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Photos content</h3>
			            </ion-slide>
						<ion-slide>
			                <h3>Pets content</h3>
			            </ion-slide>
			        </ion-slide-box>
          	</tab-slide-box>
        </ion-content>
      </ion-view>