<ion-view view-title="Announcement">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="openAnnoucement()"><i class="icon ion-ios-compose"></i></button>
		<a class="button button-clear" ng-href="#/app/schedules"><i class="icon ion-home"></i></a>
	</ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
			<div class="item item-body">
				<img class="full-image" src="img/delorean.jpg">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nam in tenetur accusamus ad atque quae praesentium! Ducimus blanditiis, necessitatibus beatae rem. Doloremque iste architecto, quam beatae dolorem accusamus officiis.
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/rabbit.jpg">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nam in tenetur accusamus ad atque quae praesentium! Ducimus blanditiis, necessitatibus beatae rem. Doloremque iste architecto, quam beatae dolorem accusamus officiis.
				</p>
				<p>
					<a href="#" class="subdued">100 Like</a>
					<a href="#" class="subdued">2 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/ionic.png">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nam in tenetur accusamus ad atque quae praesentium! Ducimus blanditiis, necessitatibus beatae rem. Doloremque iste architecto, quam beatae dolorem accusamus officiis.
				</p>
				<p>
					<a href="#" class="subdued">100 Like</a>
					<a href="#" class="subdued">2 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>
		</div>
    </ion-content>
</ion-view>
