<ion-view view-title="Subject Records">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title">{{scheInfo.code}} {{scheInfo.name}} ({{scheInfo.unit}})</h2>
    </div>
    <ion-content class="has-subheader padding">
        <div class="row">
            <div class="col col-33">
                <a class="item item-avatar" href="#/app/students">
                  Students
                </a>
            </div>
            <div class="col col-33">
                <a class="item item-avatar" href="#/app/announcement">
                  Announcement
                </a>
            </div>
            <div class="col col-33">
                <a class="item item-avatar" href="#">
                    Sub Classes
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a class="item item-avatar" href="#/app/task">
                    Task
                </a>
            </div>
            <div class="col col-50">
                <a class="item item-avatar" href="#">
                    Settings
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
