<ion-view view-title="Subjects">
	<ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon button-clear ion-navicon-round"></button>
      </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="list in listSubject" href="#/subject-menu/{{list.id}}">
                <h2>{{list.name}}</h2>
                <p ng-repeat="schedule in list.schedule">{{schedule}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>