<ion-view view-title="{{subjectInfo.title}}">
    <ion-content class="has-header">
        <div class="padding">
            <div class="button-bar">
                <a href="#/attendance/camera" class="button button-outline button-positive icon-left ion-home">
                    Student
                </a>
                <a href="#/student-record" class="button button-outline button-positive icon-left ion-folder">Record</a>
                <a href="#/announcement" class="button button-outline button-positive icon-left ion-email">Announce</a>
            </div>
            <div class="button-bar">
                <a href="" class="button button-outline button-positive icon-left ion-compose">Sub class</a>
                <a href="#/task" class="button button-outline button-positive icon-left ion-help-buoy">Task</a>
                <a href="#/settings" class="button button-outline button-positive icon-left ion-gear-b">Setting</a>
            </div>
        </div>
    </ion-content>
</ion-view>